body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  background-color: #1d3e4b;
  background-color: #142c36;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

/* Navbar */
.navbar {
  color: white;
  background-color: #0f1425;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.nav1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: white;
  text-decoration: none;
}

.nav2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.menu_btn {
  background-color: transparent;
  outline: none;
  width: 2.5rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  z-index: 15;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.menu_btn_fix {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.menu {
  color: white;
}

.nav3 {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  height: 100vh;
  top: 0%;
  left: 0%;
  z-index: 10;
  background-color: black;
  opacity: 0.9;
  transition: all 1s ease-in-out;
}

.menu_disable {
  top: 0%;
  left: 100%;
  transition: all 1s ease-in-out;
}

.icon {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  transform: scale(1.1);
  color: pink;
  text-decoration-color: pink;
  transition: all 0.3s ease-in-out;
}

.active {
  color: pink;
  transform: scale(1.1);
  text-decoration-color: pink;
  border-bottom: 1px solid rgb(91, 91, 91);
  border-radius: 0.2rem;
  transition: all 0.5s ease-in-out;
}

/* App */
.main {
  background-color: #10222a;
  background-color: #285163;
  width: 95%;
  min-height: 50vh;
  margin: 3rem auto;
  display: flex;
  align-items: center;
  color: white;
  position: relative;
}

/* About */
.about {
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
}

.about h1 {
  text-decoration: underline;
}

/* Home */
.home {
  width: 100%;
}
/* UserSearch */
.search-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 800px;
  width: 90%;
  margin: auto;
}

/* .search-form {
} */

.search {
  height: 50px;
  display: flex;
}

.search-bar {
  width: 80%;
  padding-left: 2rem;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.go-btn {
  cursor: pointer;
  width: 20%;
  color: white;
  font-size: 1.2rem;
  background-color: rgb(255, 3, 255);
  border-color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.go-btn:hover {
  color: white;
  background-color: #0f1425;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.clear-btn-div {
  display: flex;
  justify-content: end;
}

.clear-btn {
  cursor: pointer;
  width: 100px;
  color: white;
  font-size: 1.2rem;
  background-color: transparent;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 10px;
}

.clear-btn:hover {
  border: 1px solid black;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

/* UserList */
.lists {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  padding-bottom: 2rem;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  flex-wrap: wrap;
}

/* UserItem */
.list-item {
  display: flex;
  width: 100%;
  min-width: 200px;
  max-width: 300px;
  padding: 0.1rem;
  border-radius: 1.5rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  background-color: black;
  gap: 1.5rem;
}

.list-image {
  width: 25%;
  object-fit: cover;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
}

.avatar-image {
  width: 100%;
  height: 100%;
}

.list-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .name {
} */

.profile-link {
  text-decoration: none;
  color: rgb(117, 116, 116);
  font-size: 0.8rem;
}

/* User */
.user {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.profile {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  /* padding: 2rem; */
}

.left {
  width: 25%;
  max-width: 400px;
  min-width: 300px;
  object-fit: contain;
  position: relative;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.user_name {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  padding: 0.2rem 1rem;
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 5rem;
}

.user_name h3,
p {
  margin: 0;
}

.right {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  display: flex;
  gap: 1rem;
  align-items: end;
}

.title h1 {
  margin: 0;
}

.title p {
  padding: 0.1rem 0.5rem;
  border-radius: 20px;
}

.title_type {
  color: rgb(19, 214, 19);
  background-color: rgba(114, 227, 114, 0.3);
}

.title_hireable {
  color: rgb(95, 193, 250);
  background-color: rgb(86, 168, 222, 0.3);
}

.title_non_hireable {
  color: rgb(239, 89, 89);
  background-color: rgb(226, 95, 95, 0.2);
}

.github_link {
  text-decoration: none;
  color: white;
  background-color: rgb(255, 3, 255);
  padding: 0.5rem 1rem;
  width: 150px;
  text-align: center;
  border-radius: 10px;
}

.github_link:hover {
  background-color: #0f1425;
  border-color: #0f1425;
  transition: all 0.3s ease-in-out;
}

.socials {
  width: 100%;
  display: flex;
  /* justify-content: space-evenly; */
  /* flex-wrap: wrap; */
}

.social {
  padding: 0.5rem 0rem 0.5rem 1rem;
  width: 100%;
  box-shadow: rgba(1, 1, 1, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.social_border {
  border-left: 1px solid white;
}

.social_title {
  color: rgb(135, 135, 135);
}

.social_value {
  font-weight: bold;
}

.statistics {
  display: flex;
  width: 100%;
  justify-content: center;
}

.stats {
  /* border: 1px solid rgb(151, 151, 151, 0.3); */
  box-shadow: rgba(1, 1, 1, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}

.stats_info {
  width: 50%;
}

/* .stats_value {
} */

.stats_icon {
  width: 50%;
  height: 100%;
  color: rgb(255, 3, 255);
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.repos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.repo {
  background-color: #1d3e4b;
  padding: 1rem 2rem;
}

.repo:hover {
  background-color: #0f1425;
}

.repo_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.repo_content h3 {
  margin: 0;
}

.repo_content h3 a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.repo_details {
  display: flex;
  gap: 1rem;
}

.repo_details_1 {
  border-radius: 10px;
  padding: 0rem 0.6rem;
  color: aqua;
  background-color: rgb(0, 132, 255, 0.3);
}

.repo_details_2 {
  border-radius: 10px;
  padding: 0rem 0.6rem;
  color: rgb(3, 248, 3);
  background-color: rgb(3, 115, 3, 0.5);
}

.repo_details_3 {
  border-radius: 10px;
  padding: 0.1rem 0.6rem;
  color: red;
  background-color: rgba(132, 4, 4, 0.5);
}

.repo_details_4 {
  border-radius: 10px;
  padding: 0rem 0.6rem;
  color: yellow;
  background-color: rgb(149, 149, 2, 0.5);
}

/* NotFound */
.contain {
  /* background-color: rgb(89, 88, 88); */
  margin: auto;
  text-align: center;
}

.oops {
  font-size: 2rem;
}

.upper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.number {
  font-size: 3rem;
}

.n1 {
  animation: move 5s infinite ease-in-out;
}
.n2 {
  animation: move 5s infinite ease-in-out;
}
.n3 {
  animation: move 5s infinite ease-in-out;
}

.back {
  position: absolute;
  top: 70%;
  left: 48%;
  font-size: 2rem;
  color: white;
}

.back:hover {
  color: pink;
}

/* Footer */
.footer {
  text-align: center;
  color: white;
  background-color: #142c36;
  padding: 1.5rem 0;
}

@keyframes move {
  0% {
    font-size: 3rem;
    color: pink;
  }
  25% {
    font-size: 3.5rem;
    color: rgb(249, 146, 163);
  }
  50% {
    font-size: 4rem;
    color: rgb(251, 81, 109);
  }
  75% {
    font-size: 3.5rem;
    color: rgb(249, 146, 163);
  }
  100% {
    font-size: 3rem;
    color: pink;
  }
}

@media screen and (max-width: 900px) {
  .left {
    min-width: 200px;
  }
  .left img {
    height: 100%;
    object-fit: contain;
  }
  .user {
    padding: 1rem;
  }
  .stats {
    padding: 0 0 0 1rem;
  }
  .stats_info {
    width: 70%;
  }
  .stats_icon {
    width: 20%;
    font-size: 2rem;
  }
}

@media screen and (max-width: 770px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right {
    width: 100%;
  }
  .main {
    margin: auto 0;
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .socials {
    flex-direction: column;
    gap: 1rem;
  }
  .social {
    padding: 1rem 0;
  }
  .social_border {
    border-left: none;
  }
  .social_title {
    padding: 0 0 0 1rem;
  }
  .social_value {
    padding: 0 0 0 1rem;
  }
  .stats_value {
    padding: 0 0 0 1rem;
  }
  .statistics {
    flex-direction: column;
    gap: 1rem;
  }
  .stats {
    padding: 0rem 0rem;
  }
}

@media screen and (max-width: 500px) {
  .repo {
    padding: 1rem 1rem;
  }
  .title h1 {
    font-size: 1.5rem;
  }
  .icon {
    font-size: 1.5rem;
  }
  .nav1 h1 {
    font-size: 1.5rem;
  }
}
